@using KütüphaneTakip.Core.Entites
@model List<Author>
@{
	ViewData["Title"] = "NewAuthor";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Yazar</h2>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-5">
			<div class="login-wrap p-4 p-md-5">
				<form method="post">
					<div class="form-group ">
						<label for="InputName mb-2">Yazar</label>
						<input type="text" name="AuthorName" class="form-control" id="InputName" placeholder="İsim Giriniz" required="">
					</div>
					<div class="row justify-content-center">
						<button type="submit" class="btn btn-primary submit mb-4 mr-4 justify-content-center">Kaydet</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>