@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Kütüphane</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/template/layout/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/template/layout/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="Information" class="nav-link">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/Quit" role="button">  Çıkış Yap</a>
                </li>
            </ul>
        </nav>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link d-flex justify-content-center">
                <span class="brand-text font-weight-light">İş Takip</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="~/Admin/Home" class="nav-link ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Ana Sayfa
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">ANAHTAR TANIMLAR</li>
                        <li class="nav-item">
                            <a href="~/Admin/Index" class="nav-link ">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Kullanıcı Tanımlama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Department" class="nav-link">
                                <i class="nav-icon far fa-building"></i>
                                <p>
                                    Departman Tanımlama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/WorkPlace" class="nav-link">
                                <i class="nav-icon fas fa-briefcase"></i>
                                <p>
                                    İşYeri Tanımlama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/WorkPlaceType" class="nav-link">
                                <i class="nav-icon fas fa-briefcase"></i>
                                <p>
                                    İşYeri Tipi Tanımlama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Case" class="nav-link">
                                <i class="nav-icon fas fa-folder-open"></i>
                                <p>
                                    Durum Kodu Tanımlama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Notification" class="nav-link">
                                <i class="nav-icon fas fa-bell"></i>
                                <p>
                                    Mesaj Metni Tanımlama
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                @RenderBody()
                <!-- /.container-fluid -->
            </div>

            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/template/layout/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/template/layout/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/template/layout/dist/js/adminlte.js"></script>
@*
    <script>
        $(document).ready(function () {
            $('#Information').empty();
            $.ajax({
                type: 'GET',
                url: `https://localhost:44358/Admin/GetUser`,
                success: function (data) {
                    $('#Information').append(`${data}`)

                }
            });

        });
    </script>*@

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/template/layout/plugins/chart.js/Chart.min.js"></script>
    <script src="~/template/layout/dist/js/demo.js"></script>
    <script src="~/template/layout/dist/js/pages/dashboard3.js"></script>
</body>
</html>
